body {
font-family: "Segoe UI",Arial,sans-serif;
font-weight: 400;
}

.logo-img {
  background-image: url("./assets/logo.png");
  width: 129px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

h1 {
  color:gray;
  font-weight: 100;
}

button {
  color: #111;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid black;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  min-width: 75px;
}

button:hover {
  background-color: #e2e6ea;
}

input {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}